language: elixir
elixir: '1.8.2'
otp_release: '22.0'

cache:
  directories:
    - priv/plts

install:
  - mix local.rebar --force
  - mix local.hex --force
  - mix deps.get

script:
  - mix format --check-formatted
  - mkdir -p priv/plts && travis_wait mix dialyzer --halt-exit-status
  - mix test
  - mix coveralls.json && bash <(curl -s https://codecov.io/bash)

after_success:
  - mix docs
  - git clone https://github.com/davisp/ghp-import.git
  - ./ghp-import/ghp_import.py -n -p -f -m "Documentation upload" -r https://"$GH_TOKEN"@github.com/"$TRAVIS_REPO_SLUG.git" doc/
  - echo "Uploaded documentation"
